body {
  background-color: white;
}

.jumbotron {
  background-image: url(../assets/images/exchange.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: rgb(52, 248, 68);
  font-weight: 500;
}

body {
  background-image: url(../assets/images/money.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(255, 255, 255);
}

.container {
  padding: 50px;
}

.row {
  padding: 20px 0px;
}

  .display-conversion, .USD-conv, .CAD-conv, .EUR-conv, .YEN-conv, .HKD-conv, .GBP-conv {
  margin: 10px 0px;
}